/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #444444;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293241;
  color: #f2f2f2;
  padding: 20px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
  margin-left: 20px;
}

header a:hover {
  color: #8D99AE;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0FBFC;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #293241;
  font-weight: bold;
}

nav a:hover {
  color: #8D99AE;
}

/* Advantages Box Styles */
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.advantages .box {
  flex-basis: 400px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.advantages .box:hover {
  transform: translateY(-5px);
}

.advantages .box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.advantages .box .content {
  padding: 20px;
}

.advantages .box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.advantages .box p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.advantages .box .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #8D99AE;
}

/* Button Styles */
button {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #F9A26C;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #FFCDB2;
}

/* Footer Styles */
footer {
  background-color: #293241;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
